
.card {
  /* max-width: 20rem; */
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.content{
  padding: 1.5rem;
}

.title{
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text{
  color: #4a5568;
  font-size: 1rem;
  line-height: 1.5;
}

.tags{
  padding: 1rem 1.5rem;
}

.tag{
  display: inline-block;
  background-color: #edf2f7;
  color: #4a5568;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0.25rem 0.75rem;
  border-radius: 9999px;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
